<div class="petals-component">

  <button
    md-mini-fab
    class="import-bus"
    color="primary"
    md-tooltip="Import a bus"
    tooltip-position="below"
    [routerLink]="['/cockpit', 'workspaces', selectedWorkspaceId, 'petals', 'bus', 'import']"
  >
    <md-icon class="md-24">add</md-icon>
  </button>

  <md-input class="search" placeholder="Search" [(ngModel)]="textSearch" (ngModelChange)="search(textSearch)">
    <span md-suffix>
      <md-icon>search</md-icon>
    </span>
  </md-input>

  <md-nav-list dense *ngIf="workspaces && selectedWorkspace.busesInProgress && selectedWorkspace.busesInProgress.length > 0">
    <h3 md-subheader>In progress</h3>
    <a
      md-list-item
      *ngFor="let bus of selectedWorkspace.busesInProgress"
      [routerLink]="['/', 'cockpit', 'workspaces', selectedWorkspaceId, 'petals', 'bus', bus.id]"
    >
      {{bus.ip}}
    </a>
  </md-nav-list>

  <app-buses-menu
    *ngIf="selectedWorkspaceId && workspaces && selectedWorkspace.buses"
    [idWorkspace]="selectedWorkspaceId"
    [workspace]="selectedWorkspace"
    [buses]="buses"
    [search]="textSearch">
  </app-buses-menu>
</div>
