<md-nav-list class="containers-menu-component" *ngFor="let container of containers">

  <a md-list-item
     [routerLink]="['/', 'cockpit',
       'workspaces', idWorkspaceSelected,
       'petals', 'bus', idBus,
       'container', container.id]"
     class="container"
     [class.color-primary-bold]="container.id === idContainerSelected"
  >
    <span appColorSearchedLetters [search]="search" [text]="container.name" classToApply="searched"></span>
  </a>

  <app-components-menu
    [components]="container.components"
    [search]="search"

    [idBus]="idBus"
    [idContainer]="container.id"

    [idWorkspaceSelected]="idWorkspaceSelected"
    [idComponentSelected]="idComponentSelected"
    [idServiceUnitSelected]="idServiceUnitSelected"

  ></app-components-menu>
</md-nav-list>
