.workspace-used-by {
  color: #AFAFAF;
}

.btn-show-panel-add-workspace {
  position: absolute;
  margin-top: -40px;
  right: 24px;
}

md-progress-circle {
  width: 10px;
  height: 10px;
  line-height: 10px;
  display: inline-block;
}
