.workspace-used-by {
  color: #AFAFAF;
}

.btn-show-panel-add-workspace {
  float: right;
  top: -40px;
}

md-progress-circle {
  width: 10px;
  height: 10px;
  line-height: 10px;
  display: inline-block;
}
