<md-toolbar color="primary">
  <span>
    Workspaces
  </span>

  <span class="flex-space"></span>

  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>
      Overview
    </button>
    <button md-menu-item>
      Operation
    </button>
    <button md-menu-item>
      Config
    </button>
    <button md-menu-item>
      Flow
    </button>
    <button md-menu-item>
      Monitor
    </button>
    <button md-menu-item>
      Log
    </button>
    <button md-menu-item>
      User
    </button>
  </md-menu>
</md-toolbar>

<md-card class="central-content">
   <md-card-header>
      <md-card-title>Workspaces</md-card-title>
      <md-card-subtitle>Select the workspace you want to work with</md-card-subtitle>
   </md-card-header>

  <img md-card-image src="/assets/img/workspace.png">

  <md-card-content>
    <md-nav-list *ngIf="(workspaces$ | async).workspaces">
      <md-list-item *ngFor="let workspace of (workspaces$ | async).workspaces" (click)="selectWorkspace(workspace.id)">
        <h3 md-line>{{workspace.name}}</h3>
        <p md-line>
          <span class="workspace-used-by">{{workspace.usedBy}}</span>
        </p>
      </md-list-item>
    </md-nav-list>
  </md-card-content>
</md-card>
