# See http://help.github.com/ignore-files/ for more about ignoring files.

# ------------------------------------
#              GLOBAL
# ------------------------------------
npm-debug.log
node_modules/
data-mongodb

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings/
target/

# ------------------------------------
#              BACKEND
# ------------------------------------

# ------------------------------------
#              FRONTEND
# ------------------------------------
# compiled output
/frontend/dist
/frontend/tmp

# dependencies
/frontend/node_modules
/frontend/bower_components

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/*
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/testem.log
/frontend/typings

# e2e
/frontend/e2e/*.js
/frontend/e2e/*.map

#System Files
/frontend/.DS_Store
/frontend/Thumbs.db
