# See http://help.github.com/ignore-files/ for more about ignoring files.

# ------------------------------------
#              GLOBAL
# ------------------------------------

# IDEs and editors
.idea
.vscode
.project
.classpath
*.launch
.settings/
target/
.factorypath
.history
.angulardoc.json
.updateCopyrightEndDate.sh
*.ucls


# ------------------------------------
#              BACKEND
# ------------------------------------

e2e/logs/*.log
*.mv.db
*.trace.db

# ------------------------------------
#              FRONTEND
# ------------------------------------
# compiled output
/frontend/dist
/frontend/tmp

# dependencies
/frontend/node_modules
/frontend/package-lock.json

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/coverage/*
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/testem.log
/frontend/typings
/frontend/yarn-error.log

# e2e
/frontend/e2e/*.map
/frontend/cypress/screenshots

#System Files
/frontend/.DS_Store
/frontend/Thumbs.db
