// shared
@import './shared/_shared';

// colors
@import './shared/_colors';

// themes
@import './styles/themes/_light.theme';

div > h3, md-dialog-container > h3 {
  background-color: mat-color($theme-primary-x);
  margin: 0;
  padding: 10px;
  border-radius: 2dpi;
}

div > h4 {
  @extend .color-accent;
  @extend .bold;
}

md-sidenav-container {
  background-image: url(assets/img/gray_jean.png);
  color: mat-color($theme-primary, default-contrast);
}

md-toolbar {
  background-color: mat-color($theme-primary-x1);
  color: mat-color($theme-primary-x2, default-contrast);
  h3 {
    margin: 0;
  }
}

.active-link, .active-link:hover {
  .md-list-item {
    background-color: mat-color($theme-primary-x);
    @extend .color-primary;
    @extend .bold;
    margin: 0;
    border: 1px solid #dedede;
  }
}

md-sidenav-container .md-list-item:hover, md-sidenav-container .md-list-item:focus {
  background-color: mat-color($theme-primary-x);
  @extend .light-bold;
}

.highlight {
  background-color: mat-color($theme-accent-x5);
}
