<md-nav-list dense *ngFor="let bus of buses; let last=last; let index=index">
  <h3
    md-subheader
    *ngIf="index === 0 && workspace.busesInProgress.length > 0"
  >
    Available buses
  </h3>

  <a
    md-list-item
    [routerLink]="['/', 'cockpit', 'workspaces', idWorkspace, 'petals', 'bus', bus.id]"
    class="bus"
  >
    <span appColorSearchedLetters [search]="search" [text]="bus.name" classToApply="searched"></span>
  </a>

  <app-containers-menu
    [containers]="bus.containers"
    [idWorkspace]="idWorkspace"
    [idBus]="bus.id"
    [search]="search"
  ></app-containers-menu>

  <!--<md-divider *ngIf="!last"></md-divider>-->
</md-nav-list>
