<form #formLogin="ngForm" (ngSubmit)="connectUser(formLogin.value)">
  <p>
    <md-input placeholder="Username" name="name" [(ngModel)]="name" type="Text"></md-input>
  </p>

  <p>
    <md-input placeholder="Password" name="password" [(ngModel)]="password" type="password"></md-input>
  </p>

  <button type="submit" md-button>{{ 'LOG_ME' | translate }}</button>
</form>

<div class="connecting" *ngIf="(user$ | async).isConnecting">Is connecting !</div>
<div class="connected" *ngIf="(user$ | async).isConnected">Is connected !</div>
<div class="not-connected" *ngIf="!(user$ | async).isConnected">Is NOT connected !</div>
<div class="connection-failed" *ngIf="(user$ | async).connectionFailed">Connection failed !</div>
