<div class="background-auth">
  <md-card class="pnl-auth">

    <md-toolbar color="primary">
      <img class="logo-petals-auth" src="/assets/img/logo_petalscockpit.png">
      <span class="flex-space"></span>
      <span>
          Authentication
      </span>

      <span class="flex-space"></span>
      <md-icon>supervisor_account</md-icon>
    </md-toolbar>

    <md-card-content>
      <form #formLogin="ngForm" (ngSubmit)="connectUser(formLogin.value)">
        <div align="center">
          <md-input placeholder="Username" name="username" [(ngModel)]="username" type="Text">
            <span md-prefix>
              <md-icon>person</md-icon>
            </span>
          </md-input>

          <md-input placeholder="Password" name="password" [(ngModel)]="password" type="password">
            <span md-prefix>
              <md-icon>vpn_key</md-icon>
            </span>
          </md-input>
        </div>
        <div align="end" class="pnl-btn-connect">
          <button type="submit" md-raised-button color="primary" [disabled]="(user$ | async).isConnecting">
            <span>{{ 'LOG_ME' | translate }}</span>
            <md-progress-circle *ngIf="(user$ | async).isConnecting" mode="indeterminate"></md-progress-circle>
          </button>
        </div>
      </form>

      <div align="center">
        <p>
          <button md-icon-button color="primary">
            <md-icon>info</md-icon>
          </button>
          <span>Debug :</span>
          <span class="connecting" *ngIf="(user$ | async).isConnecting">Connecting ...</span>
          <span class="connected" *ngIf="(user$ | async).isConnected">Is connected !</span>
          <span class="not-connected" *ngIf="!(user$ | async).isConnected && !(user$ | async).isConnecting">Is NOT connected !</span>
          <span class="connection-failed" *ngIf="(user$ | async).connectionFailed">Connection failed !</span>
        </p>
      </div>

      <br>
    </md-card-content>

  </md-card>
</div>
