<div class="page-login background-auth">
  <md-card class="pnl-auth">

    <md-toolbar color="primary">
      <img class="logo-petals-auth" src="/assets/img/logo_petalscockpit.png">

      <span>
          Authentication
      </span>
    </md-toolbar>

    <md-card-content>
      <form #formLogin="ngForm" (ngSubmit)="connectUser(formLogin.value)">
        <div align="center">
          <md-input #nameInput placeholder="Username" name="username" [(ngModel)]="username" type="Text">
            <span md-prefix>
              <md-icon>person</md-icon>
            </span>
          </md-input>

          <md-input placeholder="Password" name="password" [(ngModel)]="password" type="password">
            <span md-prefix>
              <md-icon>vpn_key</md-icon>
            </span>
          </md-input>
        </div>

        <div class="error" *ngIf="user?.connectionFailed">
          Username and password do not match
        </div>

        <div align="end" class="pnl-btn-connect">
          <button type="submit" md-raised-button color="primary" [disabled]="user?.isConnecting">
            <span>{{ 'LOG_ME' | translate }}</span>
            <md-progress-circle *ngIf="user?.isConnecting" mode="indeterminate"></md-progress-circle>
          </button>
        </div>
      </form>

      <br>
    </md-card-content>

  </md-card>
</div>
