<div fxLayout="column" fxFill class="content content-max-width" fxLayoutWrap>
  <div class="central-content">
    <div fxLayoutWrap fxLayoutGap="10px">
      <md-card fxLayout="row" fxFlex.gt-sm="48%" fxFlex="100%" class="background-color-hover-light-green-x2 cursor-pointer">
        <img md-card-avatar class="img-card-state">
        <span fxFlex></span>
        <div fxLayout="column" fxLayoutAlign="start end">
          <md-card-subtitle>State
            <span class="green-led"></span>
          </md-card-subtitle>
          <md-card-title>Started</md-card-title>
        </div>
      </md-card>
      <md-card fxLayout="row" fxFlex.gt-sm="48%" fxFlex="100%">
        <img md-card-avatar class="img-card-type">
        <span fxFlex></span>
        <div fxLayout="column" fxLayoutAlign="start end">
          <md-card-subtitle>Type</md-card-subtitle>
          <md-card-title>BC</md-card-title>
        </div>
      </md-card>
    </div>
    <!--<prettyjson fxFlex="100%" [obj]="component"></prettyjson>-->
  </div>
</div>
