/* Sidenav */

md-sidenav-layout {
  height: 100%;
}
md-sidenav {
  width: 320px;
}
#header-sidenav {
  background: url("../../assets/img/wallpaper-header.png") no-repeat center;
  background-size: cover;
  text-align: center;
  color: white;
}
.logo-petals {
  flex: 1 1 auto;
  max-width: 110px;
  padding-bottom: 10px;
}
.icon-power {
  float: right;
}
/deep/ .md-tab-label {
  min-width: 1px !important;
  width: 100% !important;
}

