<div [class.cockpit-theme]="isCockpitTheme">
  <md-sidenav-layout fullscreen>
    <md-sidenav #sidenav align="start" mode="side" opened="true">

      <md-card id="header-sidenav">
        <img class="logo-petals" src="../../assets/img/logo_petalscockpit.png">
        <md-card-title-group>
          <p>Bertrand Escudie</p>
          <button md-icon-button class="icon-power">
            <md-icon>power</md-icon>
          </button>
        </md-card-title-group>
      </md-card>

      <md-tab-group #tabGroup (selectChange)="openTab(tabGroup.selectedIndex)">
        <md-tab *ngFor="let tab of tabs">
          <template md-tab-label>{{tab.title}}</template>
        </md-tab>
      </md-tab-group>

    </md-sidenav>

    <md-toolbar color="primary">
        Petals-Cockpit
    </md-toolbar>
    <div class="app-content">
        <md-card>
          <div>
            <md-icon>android</md-icon> <a href="https://design.google.com/icons/" target="_blank">Material icons</a> are working !
          </div>

          <button md-raised-button color="accent" (click)="decrement()">Decrement</button>
          counter: {{ counter | async }}
          <button md-raised-button color="primary" (click)="increment()">Increment</button>
        </md-card>
    </div>
</md-sidenav-layout>
