h1 {
  font-size: 20px;
  margin-left: 18px;
  margin-top: 18px;
}

h3 {
  font-size: 14px;
}

.wrapper-search-add-bus {
  padding: 16px;
  margin-bottom: -18px;
}

md-input-container [mdPrefix] {
  margin-right: 10px;
}
