<div class="wrapper-search-add-bus" fxLayout="row" fxLayoutGap="10px">
  <md-input-container fxFlex>
    <input mdInput placeholder="Search">
  </md-input-container>

  <button md-mini-fab class="btn-add-bus" color="primary" fxFlex="40px" mdTooltip="Import a bus" mdTooltipPosition="below"
    [routerLink]="['/workspaces', (workspaces$ | async).selectedWorkspaceId, 'petals', 'buses-in-progress']">
    <md-icon class="md-24">add</md-icon>
  </button>
</div>

<div *ngIf="(busesInProgress$ | async).list.length > 0">
  <h1 class="color-primary margin-top-x0">Buses in progress</h1>
  <app-buses-in-progress [busesInProgress]="busesInProgress$ | async"></app-buses-in-progress>
</div>

<h1 class="color-primary" *ngIf="(busesInProgress$ | async).list.length > 0">Buses</h1>
<app-material-tree fxFill [tree]="tree$ | async" [marginLeft]="18" (onToggleFold)="onTreeToggleFold($event)" (onSelect)="onTreeSelect($event)"></app-material-tree>
