<div class="sidenav-menu" [class.cockpit-theme]="(config$ | async).isDarkTheme">
  <md-sidenav-layout fullscreen>
    <md-sidenav #sidenav align="start" mode="side" opened="true">

      <md-card id="header-sidenav">
        <img class="logo-petals" src="/assets/img/logo_petalscockpit.png">
        <md-card-title-group>
          <button md-icon-button routerLink="/cockpit/workspaces/settings">
            <md-icon>settings</md-icon>
          </button>

          <p>{{ (user$ | async).name }}</p>

          <button md-icon-button [disabled]="(user$ | async).isDisconnecting" class="icon-power" (click)="disconnectUser()">
            <md-icon *ngIf="!(user$ | async).isDisconnecting">power_settings_new</md-icon>
            <md-progress-circle *ngIf="(user$ | async).isDisconnecting" mode="indeterminate"></md-progress-circle>
          </button>
        </md-card-title-group>
      </md-card>

      <button class="change-workspace" md-raised-button color="accent"
              [routerLink]="['workspaces', (selectedWorkspaceId ? selectedWorkspaceId : '' )]">
        {{ 'CHANGE_WORKSPACE' | translate }}
      </button>

      <md-tab-group #tabGroup [selectedIndex]="tabSelectedIndex" (selectChange)="openTab(tabGroup.selectedIndex)"
                    *ngIf="selectedWorkspaceId && tabSelectedIndex !== -1">
        <md-tab>
          <template md-tab-label>Petals</template>
          <template md-tab-content>
            <app-petals-menu-module></app-petals-menu-module>
          </template>
        </md-tab>

        <md-tab>
          <template md-tab-label>Service</template>
          <template md-tab-content>
            <app-service-menu-module></app-service-menu-module>
          </template>
        </md-tab>

        <md-tab>
          <template md-tab-label>API</template>
          <template md-tab-content>
            <app-api-menu-module></app-api-menu-module>
          </template>
        </md-tab>
      </md-tab-group>
    </md-sidenav>

    <router-outlet></router-outlet>
  </md-sidenav-layout>
</div>
