@import './libs';
@import './custom-theme.scss';
// angular-material now uses themes and we do have to load one if we want colors and others like
// primary, accent, etc
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

.color-primary {
  color: md-color($primary) !important;
}

.color-accent {
  color: md-color($accent) !important;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.petals-component {
  md-list, md-nav-list {
    padding-top: 0;
  }
}

.flex-space {
  flex: 1 1 auto;
}

.central-content {
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
}

.sidenav-menu {
  md-card-title-group div {
    display: none;
  }
}

.searched {
  background-color: md-color($accent);
}
.list-subheader {
  color: rgba(0, 0, 0, 0.54);
}

.list-row {
/*  display:flex;*/
  flex-wrap: wrap;
  justify-content: space-between ;
  align-items : center ;
}

.list-title {
  font-weight: bold !important;
}

.list-element {
  .list-title {
    font-weight: bold !important;
  }
  md-divider {
    color: #AFAFAF;
    margin-top: 5px;
  }
  .md-list-item {
    height: 40px !important;
  }
}
