<div class="petals-component">
  <md-input placeholder="Search">
    <span md-suffix>
      <md-icon>search</md-icon>
    </span>
  </md-input>

  <select [(ngModel)]="selectedWorkspaceId" (ngModelChange)="selectWorkspace(selectedWorkspaceId)">
    <option [value]="workspace.id" *ngFor="let workspace of (workspaces$ | async).workspaces">{{ workspace.name }}</option>
  </select>

  <app-buses-menu
    *ngIf="(workspaces$ | async).selectedWorkspaceId"
    [buses]="(workspaces$ | async).workspaces[(workspaces$ | async).selectedWorkspaceId].buses">
  </app-buses-menu>
</div>
