<div class="content content-max-width">
  <div fxLayout="row" fxLayoutWrap>
    <!--<md-card *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]" fxFlex="50%">
      <md-card-subtitle>Subtitle first</md-card-subtitle>
      <md-card-title>Card with title</md-card-title>
      <md-card-content>
        <p>This is supporting text.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>BT1</button>
        <button md-button>BT2</button>
      </md-card-actions>
    </md-card>-->

    <prettyjson [obj]="bus"></prettyjson>
  </div>
</div>
