<div class="bkg-primary-card" *ngIf="bus && bus.config">
  <md-card class="central-content list-element">
    <md-card-content>
      <md-card-title align="center">
        Petals Bus Config
      </md-card-title>

      <form #busConfigForm="ngForm" (ngSubmit)="onUpdate()">

        <h3 md-subheader align="start" class="color-primary list-title">Description</h3>

        <div class="input-row">
          <md-input type="text" [(ngModel)]="bus.name" name="title" placeholder="Title"
                    dividerColor="primary"></md-input>
          <md-input type="text" [(ngModel)]="bus.state" name="state" placeholder="State"
                    dividerColor="primary"></md-input>
        </div>

        <h3 md-subheader align="start" class="color-primary list-title">Component Type</h3>

        <div class="input-row">
          <md-input type="text" [(ngModel)]="bus.config.componentType.name" name="cptTypeName" placeholder="Name"
                    dividerColor="primary"></md-input>
          <md-input type="text" [(ngModel)]="bus.config.componentType.version" name="version" placeholder="Version"
                    dividerColor="primary"></md-input>
        </div>
        <h3 md-subheader align="start" class="color-primary list-title">Topology > Domain</h3>

        <div class="input-row">
          <md-input type="text" [(ngModel)]="bus.config.topology.domain.name" name="topDomName" placeholder="Name"
                    dividerColor="primary"></md-input>
          <md-input type="text" [(ngModel)]="bus.config.topology.domain.mode" name="mode" placeholder="Mode"
                    dividerColor="primary"></md-input>
          <md-input type="text" [(ngModel)]="bus.config.topology.domain.description" name="description"
                    placeholder="Description" dividerColor="primary"></md-input>
        </div>

        <!-- Todo Implement Petals Server Config for used ngModel & return the right values of inputs containers -->
        <h3 md-subheader align="start" class="color-primary list-title">Topology > Containers</h3>

        <div class="input-row">
          <md-input type="text" name="id" placeholder="Id" data-value="2" dividerColor="primary"></md-input>
          <md-input type="text" name="name" placeholder="Name" data-value="Container 2"
                    dividerColor="primary"></md-input>
          <md-input type="text" name="description" placeholder="Description" data-value="Description of the container 2"
                    dividerColor="primary"></md-input>
          <md-input type="text" name="host" placeholder="Host" data-value="192.18.1.002"
                    dividerColor="primary"></md-input>
          <md-input type="text" name="user" placeholder="User" data-value="petals" dividerColor="primary"></md-input>
          <md-input type="password" name="password" placeholder="Password" data-value="petals"
                    dividerColor="primary"></md-input>
          <md-input type="text" name="jmx_port" placeholder="Jmx_port" data-value="7701"
                    dividerColor="primary"></md-input>
          <md-input type="text" name="transport_port" placeholder="Transport_port" data-value="7801"
                    dividerColor="primary"></md-input>
        </div>

        <md-divider class="color-accent custom-divider-config"></md-divider>

        <div class="input-row">
          <md-input type="text" name="id" placeholder="Id" data-value="3" dividerColor="primary"></md-input>
          <md-input type="text" name="name" placeholder="Name" data-value="Container 3"
                    dividerColor="primary"></md-input>
          <md-input type="text" name="description" placeholder="Description" data-value="Description of the container 3"
                    dividerColor="primary"></md-input>
          <md-input type="text" name="host" placeholder="Host" data-value="192.18.1.003"
                    dividerColor="primary"></md-input>
          <md-input type="text" name="user" placeholder="User" data-value="petals" dividerColor="primary"></md-input>
          <md-input type="text" name="password" placeholder="Password" data-type="password" data-value="petals"
                    dividerColor="primary"></md-input>
          <md-input type="text" name="jmx_port" placeholder="Jmx_port" data-value="7701"
                    dividerColor="primary"></md-input>
          <md-input type="text" name="transport_port" placeholder="Transport_port" data-value="7801"
                    dividerColor="primary"></md-input>
        </div>

        <h3 md-subheader align="start" class="color-primary list-title">Topology > Registry</h3>

        <div class="input-row">
          <md-input type="text" name="registry_implementation"
                    [(ngModel)]="bus.config.topology.registry.registry_implementation"
                    placeholder="Registry_implementation" dividerColor="primary">
          </md-input>
        </div>

        <h3 md-subheader align="start" class="color-primary list-title">Topology > Registry > Configuration</h3>

        <div class="input-row">
          <md-input type="text" name="group_name"
                    [(ngModel)]="bus.config.topology.registry.registry_configuration.group_name"
                    placeholder="Group_name" dividerColor="primary"></md-input>
          <md-input type="password" name="group_password"
                    [(ngModel)]="bus.config.topology.registry.registry_configuration.group_password"
                    placeholder="Group_password" dividerColor="primary"></md-input>
        </div>

        <h3 md-subheader align="start" class="color-primary list-title">
          Topology > Registry > Configuration > Overlay Members
        </h3>

        <div class="input-row"
             *ngFor="let member of bus.config.topology.registry.registry_configuration.overlay_members; let i = index;">
          <md-input type="text" [name]="'host_name'+i" [(ngModel)]="member.host_name" placeholder="Host_name"
                    dividerColor="primary">
          </md-input>
          <md-input type="text" [name]="'port'+i" [(ngModel)]="member.port" placeholder="Port" dividerColor="primary">
          </md-input>
          <md-divider class="color-accent custom-divider-config-repeat"></md-divider>
        </div>

        <button type="submit" md-fab class="md-fab-top-right" (onUpdate)="updateBusConfig(bus)">
          <md-icon>check</md-icon>
        </button>

      </form>

    </md-card-content>
  </md-card>
</div>
