@media (min-width: 480px) {
  [md-card-avatar] {
    max-width: 55px;
    width: 55px;
    height: 55px;
  }
}

.img-card-state {
  background-image: url(assets/img/workflow.png);
  background-size: cover;
  background-repeat: no-repeat;
}
