<md-toolbar color="primary">
  <span>
    Petals - Import a bus
  </span>
</md-toolbar>

<md-card class="central-content">
  <md-card-content>
    <md-card-title align="center">

      <form>
        <md-input placeholder="IP" value="192.168.1.x"></md-input>
        <md-input placeholder="Port" value="8000"></md-input>
        <md-input placeholder="Login" value="admin"></md-input>
        <md-input placeholder="Password" type="password" value="admin"></md-input>
        <br>

        <button md-raised-button color="accent">Import bus</button>
      </form>

    </md-card-title>
  </md-card-content>
</md-card>
