<md-toolbar color="primary" *ngIf="!importing">
  <span>
    Petals - Import a bus
  </span>
</md-toolbar>

<div class="bkg-primary-card">
  <md-card class="central-content list-element">
    <md-card-content>

      <form #formImportBus="ngForm" (ngSubmit)="importBus(formImportBus.value)">
        <h3 md-subheader align="start" class="color-primary list-title">Description</h3>

        <div class="input-row">
          <md-input #ipInput type="text" [(ngModel)]="newBus.config.ip" name="ip" placeholder="IP" [disabled]="workspace.importingBus || importing"></md-input>
          <md-input type="number" [(ngModel)]="newBus.config.port" name="port" placeholder="Port" [disabled]="workspace.importingBus || importing"></md-input>
          <md-input type="text" [(ngModel)]="newBus.config.login" name="username" placeholder="Username" [disabled]="workspace.importingBus || importing"></md-input>
          <md-input type="password" [(ngModel)]="newBus.config.password" name="password" placeholder="Password" [disabled]="workspace.importingBus || importing"></md-input>
          <md-input type="password" [(ngModel)]="newBus.config.passphrase" name="passphrase" placeholder="Topology Passphrase" [disabled]="workspace.importingBus || importing"></md-input>
        </div>

        <div align="end" class="pnl-btn-import">
          <button
            md-raised-button
            color="primary"
            type="submit"
            [disabled]="workspace.importingBus || importing"
          >
            <span *ngIf="!workspace.importingBus && !importing">Import bus</span>
            <span *ngIf="workspace.importingBus || importing">
              Importing bus <md-progress-circle mode="indeterminate"></md-progress-circle>
            </span>
          </button>
        </div>
      </form>

    </md-card-content>
  </md-card>
</div>
