button {
  margin-top: 10px;
}

md-input {
  margin-bottom: 10px;
}

md-progress-circle {
  width: 10px;
  height: 10px;
  line-height: 10px;
  display: inline-block;
}

.pnl-btn-import {
  margin: 16px;
}

.error {
  margin-bottom: 20px;
}
