<md-toolbar color="primary" *ngIf="!importing">
  <span>
    Petals - Import a bus
  </span>
</md-toolbar>

<md-card class="central-content">
  <md-card-content>
    <md-card-title align="center">

      <form #formImportBus="ngForm" (ngSubmit)="importBus(formImportBus.value)">
        <md-input [(ngModel)]="newBus.ip" name="ip" placeholder="IP" [disabled]="(workspaces$ | async).importingBus || importing"></md-input>
        <md-input [(ngModel)]="newBus.port" name="port" placeholder="Port" [disabled]="(workspaces$ | async).importingBus || importing"></md-input>
        <md-input [(ngModel)]="newBus.login" name="login" placeholder="Login" [disabled]="(workspaces$ | async).importingBus || importing"></md-input>
        <md-input [(ngModel)]="newBus.password" name="password" placeholder="Password" type="password" [disabled]="(workspaces$ | async).importingBus || importing"></md-input>
        <br>

        <button
          md-raised-button
          color="accent"
          type="submit"
          [disabled]="(workspaces$ | async).importingBus || importing"
        >
          <span *ngIf="!(workspaces$ | async).importingBus && !importing">Import bus</span>
          <span *ngIf="(workspaces$ | async).importingBus || importing">
            Importing bus <md-progress-circle mode="indeterminate"></md-progress-circle>
          </span>
        </button>
      </form>

    </md-card-title>
  </md-card-content>
</md-card>
