<md-toolbar color="primary">
  <span>
    Petals
  </span>

  <span class="flex-space"></span>

  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>
      Overview
    </button>
    <button md-menu-item>
      Operation
    </button>
    <button md-menu-item>
      Config
    </button>
    <button md-menu-item>
      Flow
    </button>
    <button md-menu-item>
      Monitor
    </button>
    <button md-menu-item>
      Log
    </button>
    <button md-menu-item>
      User
    </button>
  </md-menu>
</md-toolbar>

<md-tab-group>
  <md-tab>
    <template md-tab-label>Overview</template>
    <template md-tab-content>

      <md-card class="central-content list-element">
        <md-card-content>
          <md-card-title align="center">
            Petals Bus Overview
          </md-card-title>
          <md-list dense>
            <h3 md-subheader align="start" class="color-primary list-title">Description</h3>

            <div class="list-row">
              <md-list-item>
                <h4 md-line>Title</h4>
                <p md-line>
                  <span class="list-subheader">Bus 1</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>State</h4>
                <p md-line>
                  <span class="list-subheader">UNDEPLOYED</span>
                </p>
              </md-list-item>
            </div>

            <md-divider></md-divider>
            <h3 md-subheader align="start" class="color-primary list-title">Component Type</h3>

            <div class="list-row">
              <md-list-item>
                <h4 md-line>Name</h4>
                <p md-line>
                  <span class="list-subheader">BUS</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Version</h4>
                <p md-line>
                  <span class="list-subheader">5-0</span>
                </p>
              </md-list-item>
            </div>

            <md-divider></md-divider>
            <h3 md-subheader align="start" class="color-primary list-title">Topology > Domain</h3>

            <div class="list-row">
              <md-list-item>
                <h4 md-line>Name</h4>
                <p md-line>
                  <span class="list-subheader">domain_0</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Mode</h4>
                <p md-line>
                  <span class="list-subheader">static</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Description</h4>
                <p md-line>
                  <span class="list-subheader">A sample domain configuration</span>
                </p>
              </md-list-item>
            </div>

            <md-divider></md-divider>
            <h3 md-subheader align="start" class="color-primary list-title">Topology > Containers</h3>

            <!-- Example container 2 -->
            <div class="list-row">
              <md-list-item>
                <h4 md-line>Id</h4>
                <p md-line>
                  <span class="list-subheader">2</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Name</h4>
                <p md-line>
                  <span class="list-subheader">Container 2</span>
                </p>
              </md-list-item>
            </div>

            <div class="list-row">
              <md-list-item>
                <h4 md-line>Description</h4>
                <p md-line>
                  <span class="list-subheader">Description of the container 2</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Host</h4>
                <p md-line>
                  <span class="list-subheader">192.18.1.002</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>User</h4>
                <p md-line>
                  <span class="list-subheader">petals</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Password</h4>
                <p md-line>
                  <span class="list-subheader">petals</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Jmx_port</h4>
                <p md-line>
                  <span class="list-subheader">7701</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Transport_port</h4>
                <p md-line>
                  <span class="list-subheader">7801</span>
                </p>
              </md-list-item>
            </div>

            <md-divider></md-divider>

            <!-- Example container 3 -->
            <div class="list-row">
              <md-list-item>
                <h4 md-line>Id</h4>
                <p md-line>
                  <span class="list-subheader">3</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Name</h4>
                <p md-line>
                  <span class="list-subheader">Container 3</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Description</h4>
                <p md-line>
                  <span class="list-subheader">Description of the container 3</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Host</h4>
                <p md-line>
                  <span class="list-subheader">192.18.1.003</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>User</h4>
                <p md-line>
                  <span class="list-subheader">petals</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Password</h4>
                <p md-line>
                  <span class="list-subheader">petals</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Jmx_port</h4>
                <p md-line>
                  <span class="list-subheader">7701</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Transport_port</h4>
                <p md-line>
                  <span class="list-subheader">7801</span>
                </p>
              </md-list-item>
            </div>

            <md-divider></md-divider>
            <h3 md-subheader align="start" class="color-primary list-title">Topology > Registry</h3>

            <div class="list-row">
              <md-list-item>
                <h4 md-line>Registry_implementation</h4>
                <p md-line>
                  <span class="list-subheader">org.ow2.petals.microkernel.registry.overlay.RegistryOverlayImpl</span>
                </p>
              </md-list-item>
            </div>

            <h3 md-subheader align="start" class="color-primary list-title">Topology > Registry > Configuration</h3>

            <div class="list-row">
              <md-list-item>
                <h4 md-line>Group_name</h4>
                <p md-line>
                  <span class="list-subheader">default-sample</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Group_password</h4>
                <p md-line>
                  <span class="list-subheader">s3cr3t</span>
                </p>
              </md-list-item>
            </div>

            <h3 md-subheader align="start" class="color-primary list-title">Topology > Registry > Configuration >
              Overlay Members</h3>

            <!-- Example Overlay Members 1-->
            <div class="list-row">
              <md-list-item>
                <h4 md-line>Host_name</h4>
                <p md-line>
                  <span class="list-subheader">192.18.1.002</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Port</h4>
                <p md-line>
                  <span class="list-subheader">7901</span>
                </p>
              </md-list-item>
            </div>

            <md-divider></md-divider>

            <!-- Example Overlay Members 1-->
            <div class="list-row">
              <md-list-item>
                <h4 md-line>Host_name</h4>
                <p md-line>
                  <span class="list-subheader">192.18.1.003</span>
                </p>
              </md-list-item>

              <md-list-item>
                <h4 md-line>Port</h4>
                <p md-line>
                  <span class="list-subheader">7901</span>
                </p>
              </md-list-item>
            </div>

          </md-list>
        </md-card-content>
      </md-card>

    </template>
  </md-tab>

  <md-tab>
    <template md-tab-label>Config</template>
    <template md-tab-content>

      <md-card class="central-content list-element">
        <md-card-content>
          <md-card-title align="center">
            Petals Bus Config
          </md-card-title>

          <h3 md-subheader align="start" class="color-primary list-title">Description</h3>

          <div class="input-row">
            <md-input placeholder="Title" data-value="Bus 1" dividerColor="primary"></md-input>
            <md-input placeholder="State" data-value="UNDEPLOYED" dividerColor="primary"></md-input>
          </div>

          <h3 md-subheader align="start" class="color-primary list-title">Component Type</h3>

          <div class="input-row">
            <md-input placeholder="Name" data-value="BUS" dividerColor="primary"></md-input>
            <md-input placeholder="Version" data-value="5-0" dividerColor="primary"></md-input>
          </div>

          <h3 md-subheader align="start" class="color-primary list-title">Topology > Domain</h3>

          <div class="input-row">
            <md-input placeholder="Name" data-value="domain_0" dividerColor="primary"></md-input>
            <md-input placeholder="Mode" data-value="static" dividerColor="primary"></md-input>
            <md-input placeholder="Description" data-value="A sample dommain configuration"
                      dividerColor="primary"></md-input>
          </div>

          <h3 md-subheader align="start" class="color-primary list-title">Topology > Containers</h3>

          <div class="input-row">
            <md-input placeholder="Id" data-value="2" dividerColor="primary"></md-input>
            <md-input placeholder="Name" data-value="Container 2" dividerColor="primary"></md-input>
            <md-input placeholder="Description" data-value="Description of the container 2"
                      dividerColor="primary"></md-input>
            <md-input placeholder="Host" data-value="192.18.1.002" dividerColor="primary"></md-input>
            <md-input placeholder="User" data-value="petals" dividerColor="primary"></md-input>
            <md-input placeholder="Password" data-type="password" data-value="petals"
                      dividerColor="primary"></md-input>
            <md-input placeholder="Jmx_port" data-value="7701" dividerColor="primary"></md-input>
            <md-input placeholder="Transport_port" data-value="7801" dividerColor="primary"></md-input>
          </div>

          <md-divider class="color-accent custom-divider-config"></md-divider>

          <div class="input-row">
            <md-input placeholder="Id" data-value="3" dividerColor="primary"></md-input>
            <md-input placeholder="Name" data-value="Container 3" dividerColor="primary"></md-input>
            <md-input placeholder="Description" data-value="Description of the container 3"
                      dividerColor="primary"></md-input>
            <md-input placeholder="Host" data-value="192.18.1.003" dividerColor="primary"></md-input>
            <md-input placeholder="User" data-value="petals" dividerColor="primary"></md-input>
            <md-input placeholder="Password" data-type="password" data-value="petals"
                      dividerColor="primary"></md-input>
            <md-input placeholder="Jmx_port" data-value="7701" dividerColor="primary"></md-input>
            <md-input placeholder="Transport_port" data-value="7801" dividerColor="primary"></md-input>
          </div>

          <h3 md-subheader align="start" class="color-primary list-title">Topology > Registry</h3>

          <div class="input-row">
            <md-input placeholder="Registry_implementation"
                      data-value="org.ow2.petals.microkernel.registry.overlay.RegistryOverlayImpl"
                      dividerColor="primary">
            </md-input>
          </div>

          <h3 md-subheader align="start" class="color-primary list-title">Topology > Registry > Configuration</h3>

          <div class="input-row">
            <md-input placeholder="Group_name" data-value="default-sample" dividerColor="primary"></md-input>
            <md-input placeholder="Group_password" data-type="password" data-value="s3cr3t"
                      dividerColor="primary"></md-input>
          </div>

          <h3 md-subheader align="start" class="color-primary list-title">
            Topology > Registry > Configuration > Overlay Members
          </h3>

          <div class="input-row">
            <md-input placeholder="Host_name" data-value="192.18.1.002" dividerColor="primary"></md-input>
            <md-input placeholder="Port" data-value="7901" dividerColor="primary"></md-input>
          </div>

          <md-divider class="color-accent custom-divider-config"></md-divider>

          <div class="input-row">
            <md-input placeholder="Host_name" data-value="192.18.1.003" dividerColor="primary"></md-input>
            <md-input placeholder="Port" data-value="7901" dividerColor="primary"></md-input>
          </div>

        </md-card-content>
      </md-card>

    </template>
  </md-tab>
</md-tab-group>

